@tailwind base;
@tailwind components;
@tailwind utilities;

/* hamburger menu links */
@keyframes slideFadeIn {
  from {
    transform: translateX(-5%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* close button for hamburger menu */
.close-button {
  position: absolute;
  top: 0.5rem; /* Adjust the value as needed */
  right: 0.5rem; /* Adjust the value as needed */
  background: transparent;
  border: none;
  font-size: 1.5rem; /* Adjust the size as needed */
  cursor: pointer;
}

/* hamburger menu */
.hamburger {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 18px; /* Height of the hamburger icon */
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  border: none;
  background: transparent;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px; /* Height of each line */
  width: 100%;
  background: #000; /* Color of the hamburger lines */
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 2px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 8px;
}

.hamburger span:nth-child(4) {
  top: 14px;
}

.hamburger.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
  top: 8px; /* Centralize for 'X' animation */
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px; /* Centralize for 'X' animation */
}

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* desktop nav items */
.nav-item {
  position: relative;
  padding-bottom: 2px; /* Adjust the space for the underline */
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: currentColor; /* Use the text color for the underline */
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Close button animation */
@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
