@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
/* Custom Font Import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap");

/* CSS Variables */
/* Theme Color Variables */
@layer base {
  /* Light Theme Colors */
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  /* Dark Theme Colors */
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

/* Typography */
/* Global Font Styling */
.font-custom {
  font-family: "Merriweather Sans", sans-serif;
}

/* Navbar Styles */
/* Hamburger Menu Animations */
@keyframes slideFadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Mobile Menu Transitions */
.mobile-menu {
  transition: transform 0.5s ease-in-out; /* Smooth transition for sliding in and out */
}

/* Mobile Menu State: Open */
.mobile-menu-open {
  transform: translateX(0); /* Slide in from the left */
}

/* Mobile Menu State: Closed */
.mobile-menu-closed {
  transform: translateX(-100%); /* Start off-screen to the left */
}

/* Mobile Menu Items Styling */
.mobile-menu-item {
  display: inline;
  padding: 1.2rem; /* Increase padding to make the items bigger */
  font-size: 1.3rem; /* Adjust font size as needed */
  opacity: 0; /* Start as invisible */
  transform: translateX(-50px); /* Start slightly off to the left */
  animation: slideInFromLeft 1s ease forwards; /* Custom animation for sliding in */
  animation-delay: var(--slide-delay, 0s); /* Use a CSS variable for delay */
}

@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Hamburger Icon Styling */
.hamburger {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 25px; /* Height of the hamburger icon */
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  border: none;
  background: transparent;
}

/* Hamburger Icon Lines Styling */
.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 2px;
  opacity: 1;
  transition: transform 0.25s ease-in-out, opacity 0.25s; /* Keep opacity transition duration short for a quick fade out */
  transform-origin: 50% 50%; /* Rotate around the center */
}

.hamburger span:nth-child(1) {
  top: 6px;
}

.hamburger span:nth-child(2) {
  top: 12px;
}

.hamburger span:nth-child(3) {
  top: 18px;
}

/* Middle Line Animation: Swoosh Out */
@keyframes swooshOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(10px); /* Slight move to the right */
    opacity: 1;
  }
  100% {
    transform: translateX(-100%); /* Swoosh to the left */
    opacity: 0;
  }
}

/* Middle Line Animation: Swoosh In */
@keyframes swooshIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Transform Hamburger Lines to 'X': Open State */
.hamburger.open span:nth-child(1),
.hamburger.open span:nth-child(3) {
  transition: transform 0.5s ease-in-out 0.5s; /* Delay by the duration of the middle line's animation */
}

.hamburger.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  animation: swooshOut 0.7s forwards;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Transform Hamburger Lines from 'X' to Lines: Closed State */
.hamburger.closed span:nth-child(1),
.hamburger.closed span:nth-child(3) {
  transition: transform 0.5s ease-in-out; /* Immediate transition */
  transform: translateY(0) rotate(0deg);
}

/* Revert middle line swoosh on closing */
.hamburger.closed span:nth-child(2) {
  animation: swooshIn 0.7s forwards;
}

/* Desktop Navbar Items */
.nav-item {
  position: relative;
  padding-bottom: 2px; /* Adjust the space for the underline */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; /* Add transform to the transition property */
}

/* Desktop Navbar Items Hover Effects */
.nav-item:hover {
  color: #131313; /* Replace with your darker zinc color */
}

.nav-item.active {
  color: #131313;
}

/* Desktop Navbar Items Active State */
.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: currentColor; /* Will use the text color, which changes on hover */
  transform: scaleX(0);
  transition: transform 0.3s ease; /* Ensure this is only for the transform */
  transform-origin: bottom right;
}

/* Desktop Navbar Items Underline Effect */
.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; /* This will give the underline effect on hover */
}

/* Button Styles */
/* General Button Styling */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  border: 1px solid #333;
  border-radius: 0.75rem;
  color: #fff;
  background-color: #333; /* Default background color */
  position: relative; /* Required for the ::before pseudo-element */
  overflow: hidden; /* Hide overflow for the fade-out effect */
  transition: background-color 0.5s ease, color 0.5s ease; /* Add transitions for background-color and color */
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.8s ease; /* Smooth transition for background */
  z-index: -1; /* Place it behind the button content */
}

/* Button Hover Effect */
.button:hover {
  color: #131313; /* Darker zinc color for text on hover */
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease; /* Slower and smoother transition for background-color and color */
}

/* Styling for View All Button */
.view-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  border: 1px solid #333;
  border-radius: 0.75rem;
  color: #fff;
  background-color: #333; /* Default background color */
  position: relative; /* Required for the ::before pseudo-element */
  overflow: hidden; /* Hide overflow for the fade-out effect */
  transition: background-color 0.5s ease, color 0.5s ease; /* Add transitions for background-color and color */
}

.view-all-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.8s ease; /* Smooth transition for background */
  z-index: -1; /* Place it behind the button content */
}

/* Button Hover Effect */
.view-all-btn:hover {
  color: #131313; /* Darker zinc color for text on hover */
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease; /* Slower and smoother transition for background-color and color */
}

/* Responsive Design: Button Sizing */

/* Button Styles for Desktop and Larger Devices */
@media (min-width: 768px) {
  .button {
    max-width: 250px; /* Adjust as needed */
  }
}

@media (min-width: 1024px) {
  .button {
    max-width: 220px; /* Adjust as needed */
  }
}

@media (min-width: 1280px) {
  .button {
    max-width: 220px; /* Adjust as needed */
  }
}

@media (min-width: 1440px) {
  .button {
    max-width: 220px; /* Adjust as needed */
  }
}

@media (min-width: 1920px) {
  .button {
    max-width: 220px; /* Adjust as needed */
  }
}

/* Button Styles for Smaller Mobile Devices */
@media (max-width: 540px) {
  .button {
    max-width: 230px;
    margin: auto;
  }
}

@media (max-width: 425px) {
  .button {
    max-width: 210px;
    margin: auto;
  }
}

@media (max-width: 375px) {
  .button {
    max-width: 190px;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .button {
    max-width: 170px;
    margin: auto;
  }
}

/* Checkout button for mobile devices */
@media (max-width: 540px) {
  .checkout-btn {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .checkout-btn {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .checkout-btn {
    width: 100%;
  }
}

@media (max-width: 325px) {
  .checkout-btn {
    width: 100%;
  }
}

/* Checkout button for large to extra large devices */
@media (min-width: 1024px) {
  .checkout-btn {
    width: 60%; /* 60% of container width */
  }
}

@media (min-width: 1280px) {
  .checkout-btn {
    width: 50%; /* 50% of container width for very large screens */
  }
}

@media (min-width: 1440px) {
  .checkout-btn {
    width: 40%; /* 40% of container width for widescreens */
  }
}

/* same media queries for quantity-selector */
@media (max-width: 540px) {
  .quantity-selector {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (max-width: 425px) {
  .quantity-selector {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (max-width: 375px) {
  .quantity-selector {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .quantity-selector {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

/* Overlay Styles */
/* Overlay Transition Effects */
.backdrop-blur {
  transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
}

/* Overlay Visible State */
.backdrop-blur-visible {
  opacity: 1;
  backdrop-filter: blur(5px);
  transition: opacity 0.5s ease-in-out, backdrop-filter 0.5s ease-out;
}

/* Overlay Hidden State */
.backdrop-blur-hidden {
  opacity: 0;
  backdrop-filter: blur(0px);
  transition: opacity 0.5s ease-in-out, backdrop-filter 0.5s ease-out;
}

/* Loading Spinner Animation */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border-left-color: rgb(138, 138, 138);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Image Responsiveness */
/* Media Queries for Responsive Image Layouts */
/* Smaller Screen Adjustments */
@media (max-width: 320px) {
  .mobile-view {
    flex-direction: column;
  }

  /* Wishlist Remove Button Positioning */
  .mobile-remove-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* same media queries for mobile-view and mobile-remove-btn */
@media (max-width: 375px) {
  .mobile-view {
    flex-direction: column;
  }

  .mobile-remove-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 425px) {
  .mobile-view {
    flex-direction: column;
  }

  .mobile-remove-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 540px) {
  .mobile-view {
    flex-direction: column;
  }

  .mobile-remove-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Wishlist Remove Button Padding Adjustment */
li:not(:first-child) .mobile-remove-btn {
  padding-top: 1.5rem;
}

/* Custom Sheet Styles */
.custom-sheet-content {
  width: 100%; /* Default width */
}

/* Medium Devices (Tablets, typically around 768px) */
@media (min-width: 768px) {
  .custom-sheet-content {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .custom-sheet-content {
    width: 50%;
  }
}

/* Large Devices (Laptops/Desktops, typically around 1024px) */
@media (min-width: 1024px) {
  .custom-sheet-content {
    width: 40%;
  }
}

/* Extra Large Devices (Large Desktops/Widescreens, typically around 1280px and up) */
@media (min-width: 1280px) {
  .custom-sheet-content {
    width: 30%;
  }
}

/* Wide Screens (Very Large Screens, typically around 1440px and up) */
@media (min-width: 1440px) {
  .custom-sheet-content {
    width: 25%;
  }
}

@media (min-width: 1920px) {
  .custom-sheet-content {
    width: 20%;
  }
}

/* Misc Styles */
/* Darker Border Styling */
.darker-border {
  border-bottom: 2px solid #131313;
}
