@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap");

/* Global Font Style */

.font-custom {
  font-family: "Merriweather Sans", sans-serif;
}

/* NAVBAR SECTION */

/* Hamburger menu links */
@keyframes slideFadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* MOBILE MENU LINKS */
.mobile-menu-item {
  display: inline;
  padding: 1.2rem; /* Increase padding to make the items bigger */
  font-size: 1.3rem; /* Adjust font size as needed */
  opacity: 0; /* Start as invisible */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition for opacity and movement */
  animation: slideFadeIn 0.5s ease forwards;
}

/* HAMBURGER MENU */
.hamburger {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 25px; /* Height of the hamburger icon */
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  border: none;
  background: transparent;
}

/* Common styles for the hamburger lines */
.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 2px;
  opacity: 1;
  transition: transform 0.25s ease-in-out, opacity 0.25s; /* Keep opacity transition duration short for a quick fade out */
  transform-origin: 50% 50%; /* Rotate around the center */
}

/* Position the lines */
.hamburger span:nth-child(1) {
  top: 6px;
}

.hamburger span:nth-child(2) {
  top: 12px;
}

.hamburger span:nth-child(3) {
  top: 18px;
}

/* Keyframes for the middle line to swoosh out and in */
@keyframes swooshOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(10px); /* Slight move to the right */
    opacity: 1;
  }
  100% {
    transform: translateX(-100%); /* Swoosh to the left */
    opacity: 0;
  }
}

@keyframes swooshIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Transform top and bottom lines into 'X' with a delay */
.hamburger.open span:nth-child(1),
.hamburger.open span:nth-child(3) {
  transition: transform 0.5s ease-in-out 0.5s; /* Delay by the duration of the middle line's animation */
}

.hamburger.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  animation: swooshOut 0.7s forwards;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Revert 'X' transformation on closing */
.hamburger.closed span:nth-child(1),
.hamburger.closed span:nth-child(3) {
  transition: transform 0.5s ease-in-out; /* Immediate transition */
  transform: translateY(0) rotate(0deg);
}

/* Revert middle line swoosh on closing */
.hamburger.closed span:nth-child(2) {
  animation: swooshIn 0.7s forwards;
}

/* DESKTOP NAV ITEMS */
.nav-item {
  position: relative;
  padding-bottom: 2px; /* Adjust the space for the underline */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; /* Add transform to the transition property */
}

.nav-item:hover {
  color: #131313; /* Replace with your darker zinc color */
}

.nav-item.active {
  color: #131313;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: currentColor; /* Will use the text color, which changes on hover */
  transform: scaleX(0);
  transition: transform 0.3s ease; /* Ensure this is only for the transform */
  transform-origin: bottom right;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; /* This will give the underline effect on hover */
}

/* LATEST ADDITIONS SECTION */

/* View All Products Button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  border: 1px solid #333;
  color: #fff;
  background-color: #333; /* Default background color */
  position: relative; /* Required for the ::before pseudo-element */
  overflow: hidden; /* Hide overflow for the fade-out effect */
  transition: background-color 0.5s ease, color 0.5s ease; /* Add transitions for background-color and color */
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.8s ease; /* Smooth transition for background */
  z-index: -1; /* Place it behind the button content */
}

.button:hover {
  color: #131313; /* Darker zinc color for text on hover */
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease; /* Slower and smoother transition for background-color and color */
}

/* OVERLAY EFFECTS */
.backdrop-blur {
  transition: opacity 1000ms ease, backdrop-filter 1000ms ease;
}

.backdrop-blur-visible {
  opacity: 1;
  backdrop-filter: blur(5px); /* Adjust the blur as needed */
  transition: opacity 1000ms ease-in-out, backdrop-filter 1000ms ease-out;
}

.backdrop-blur-hidden {
  opacity: 0;
  backdrop-filter: blur(0px);
  transition: opacity 1000ms ease-in-out, backdrop-filter 1000ms ease-out;
}
